<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.lizhanqi.www.zxing"  >

<!-- 二维码权限 -->
<uses-permission android:name="android.permission.VIBRATE" />
<uses-permission android:name="android.permission.CAMERA" />
<uses-feature android:name="android.hardware.camera" />
<uses-feature android:name="android.hardware.camera.autofocus" />
<application  >

    <activity android:name="top.lizhanqi.www.zxing.scanner.CaptureActivity"/>
</application>

</manifest>
